/* Generals */
body{
  height: 5000px;
  font-family: 'Open Sans', sans-serif;
   padding-top: 70px;
}



/* header */

.navbar-default{
  background: #2d3e50;
  border-radius: 0;
  border-color: #2d3e50;
}

.navbar{
  min-height: 80px;
}

.navbar .container{
  padding: 0 30px;
}

.navbar .container .navbar-brand {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 26.5px;
  padding-bottom: 26.5px;
  line-height: 27px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}
















/*  */
