/* Generals */
body{
  height: 3000px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 75px;
}

/* utility */
[class^='star']{
  max-width: 200px;
  min-width: 100%;
  margin: 30px auto;
}

.star_b::before,
.star_b::after{
  content: '';
  display: inline-block;
  width: 10%;
  height: 4px;
  border-radius: 2px;
  vertical-align: middle;
  background-color: black;
}

.star_b i{
  color: black;
  line-height: 4px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
}

.star_w::before,
.star_w::after{
  content: '';
  display: inline-block;
  width: 10%;
  height: 4px;
  border-radius: 2px;
  vertical-align: middle;
  background-color: white;
}

.star_w i{
  color: white;
  line-height: 4px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
}

.margin_bot{
  margin-bottom: 5px;
}

.a_green{
  color: #1bbc9b;
}


/* header */


/* nav menù */
.navbar-default{
  background: #2d3e50;
  border-radius: 0;
  border-color: #2d3e50;
  border: 0;

}

.navbar{
  margin: 0;
}

.navbar .container{
  padding: 0 30px;
}

.navbar .container .navbar-brand {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  padding: 2px 15px;
  line-height: 75px;
  height: 75px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 25px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

/* jumbotron */
#jumbotron{
  text-align: center;
  text-transform: uppercase;
  color: white;
}

#jumbotron .row{
  padding: 30px 0;
}

.background_green{
  background: #1bbc9b;
}

#jumbotron img{
  max-width: 250px;
}

#jumbotron .star::before,
#jumbotron .star::after{
  background-color: white;
}

/* #jumbotron .star i{
  color: white;
} */


#jumbotron h3{
  font-size: 18px;
}

/* Main */

/* section 1 main */

#section_1{
  margin-top: 40px;
  text-align: center;
}

#section_1 h2:first-child{
  color: black;
  text-transform: uppercase;
  font-size: 35px;
}

#section_1 .item{
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
}

#section_1  img{
  width: 100%;
  height: 100%;
}

#section_1 .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 2s;
}

#section_1 .overlay i{
  font-size: 100px;
  color: white;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#section_1 .overlay:hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 188, 156, 0.5);
  transform: scale(1.5);
}

#section_1 .overlay:hover i{
  display: inline;
}

/* section 2 main */

#section_2{
  text-align: center;
  color: white;
  padding: 40px 0;
  margin: 25px auto;
}

#section_2 h2{
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

#section_2 .star_w{
  margin: 15px 0;
}

#section_2 p{
  font-size: 18px;
  padding: 5px 15px 15px;;
  text-align: justify;
}

#section_2 .btn-default{
  border: 1px solid white;
  border-radius: 5px;
  background: #1bbc9b;
  color: white;
}

#section_2 .btn-default i{
  padding-right: 10px;
  /* color: white; */
}

/* section 3 main */

#section_3{
  margin: 0 auto;
}

#section_3 .container{
  width: 1000px;
  max-width: 80%;
}

#section_3 h2:first-child {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 35px;
}

#section_3 .star_b {
  margin: 15px auto;
}

#section_3 .form_text textarea,
#section_3 .form_text input{
  margin: 10px auto;
  width: 100%;
  max-width: 100%;
  display: block;
  padding: 15px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
}

#section_3 .form_input{
  outline: 0;
}

#section_3 input[type="text"]::-webkit-input-placeholder,
#section_3 input[type="email"]::-webkit-input-placeholder,
#section_3 textarea::-webkit-input-placeholder {
 /* Chrome/Opera/Safari */
  color: black;
  font-weight: bold;
  font-size: 17px;
}

#section_3 .btn-default{
  background: #1bbc9b;
  color: white;
  border: 0;
  padding: 10px 20px;
  border-radius: 7px;
}

/* footer */

/* footer section 1 */

#f_section_1{
  background: #3a546d;
  margin-top: 35px;
  padding: 25px 0;
  color: white;
  text-align: center;
}

#f_section_1 h3{
  text-transform: uppercase;
  padding: 5px 0;
}

#f_section_1 p{
  font-size: 20px;
}

#f_section_1 .social a{
  margin: 0 10px;
}

#f_section_1 .social i{
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  padding: 15px;
  color: white;
  font-size: 18px;
}

#f_section_1 .a_green:hover{
  color: #1bbc9b;
  text-decoration: underline;
}

















/*  */
